@using FormAuthApplication.DAL;
@model LoginCredentials
@{
    ViewData["Title"] = "Dashboard";
}



<h2>Hello</h2><br />
UserID:
<h4>@Model.UserID</h4><br />
Name:
<h4>@Model.FirstName
    @Model.LastName</h4><br />
EmailID:
<h4>@Model.EmailID</h4>


