@model LoginDetailsModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form method="post">
<div class="container"style="margin-top:100">
    UserID:
    <div class="row">
        <input type="text" asp-for="UserID"/>
    </div>
    Password:
    <div class="row">
        <input type="password" asp-for="Password"/>
    </div>

    <div class="row">
        <button type="submit" value="Login">Submit</button>
    </div>
</div>
</form>

